body {
    background-size: cover;
    background-position: center;
    color: gray;
    text-align: center;
    background-color: rgb(216, 206, 206);
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0; 
    width: 100%;
    padding: 0px 25px;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
    color: gray;
}
p {
    margin-bottom: 30px; 
}
.btn-continue {
    background-color: rgb(45, 136, 164);
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
    text-decoration: none; 
}
.create-account button {
    background-color: #cce5ff; 
    color: #007bff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
}
.create-account button:hover {
    background-color: #b3d7ff; 
}